.like-button {
  background-color: darkblue;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  outline: none;
  border: 0 none transparent;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 8px;
}
.like-button span {
  margin: 4px;
}
